@use '../../index.scss' as variables;
.header {
    font-family:'Nunito Sans', sans-serif;
    display: flex;
    flex-direction: row;
    background-color: variables.$white;
    padding: variables.$upperTopPadding variables.$sideTopPadding;
    border-bottom: 0.5px solid variables.$white;
    margin: 0;
    height: 30px;
    
}
.header-dark {
    background-color: variables.$veryDarkBlue;
    border-bottom: 0.5px solid variables.$darkBlue;
    color: variables.$white;

}
.header-title {
    font-family:'Nunito Sans', sans-serif;
    align-self: center;
    font-weight: 800;
    font-size: medium;
}

.button {
    margin-left: auto;
    font-family:'Nunito Sans', sans-serif;
    border: none;
    background-color: variables.$white;
    cursor: pointer;
}
.button-dark{
    background-color: variables.$veryDarkBlue;
    color: variables.$white;
}